body {
  width: 100%;
  height: 100%;
  font-family: 'Megrim', cursive;
  color: white;
  font-weight: 300;
  background: url(http://i50.tinypic.com/wuqtfn.jpg) no-repeat;
}

h2 {
  position: absolute;
  top: 20%;
}
/*#container {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}*/
.nav {
  text-align: center;
  width: 100%;
}
.nav a, .nav a:visited {
  text-align: center;
  text-decoration: none;
  font-size: 60px;
  color: white;
  padding-left: 100px;
}

.singlebox {
  top: 20%;
}

.party {
  position: absolute;
  left: 47%;
}